<mat-toolbar>
  <button mat-icon-button (click)="clickedMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GDPR</span>
</mat-toolbar>

<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="openedSidebar">
    <mat-card
      class="card"
      routerLink="types"
      routerLinkActive="active-card"
      queryParamsHandling="preserve">
      <div class="card-title-wrapper">
        <mat-icon>people</mat-icon>
        <span>Typy osobných údajov</span>
      </div>
    </mat-card>

    <mat-card
      class="card"
      routerLink="relations"
      routerLinkActive="active-card"
      queryParamsHandling="preserve">
      <div class="card-title-wrapper">
        <mat-icon>info</mat-icon>
        <span>Vzťahy medzi osobnými údajmi</span>
      </div>
    </mat-card>

    <mat-card
      class="card"
      routerLink="anonymization"
      routerLinkActive="active-card"
      queryParamsHandling="preserve">
      <div class="card-title-wrapper">
        <mat-icon>pan_tool</mat-icon>
        <span>Anonymizácia</span>
      </div>
    </mat-card>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
